<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Learn About citizenship</title>
    <style>
        body {
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1>Learn About citizenship</h1>
    <p>Please, click <a href="/admin/">here</a> in order to login</p>
    or
    <p>click <a href="/admin/citizen/question/">here</a> to go directly to the questions.</p>
    <p>Remember that you can filter by category and search by words like <bold>president</bold>.</p>

</body>
</html>